body {
  letter-spacing: .034em;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

a {
  transition: color .1s linear, background-color .1s linear, opacity .1s linear;
}
a:hover {
  text-decoration: none;
  box-shadow: 0 1px 0 0 currentColor;
}

.site-header {
  border-top: none;
}
.site-title-wrapper {
  background-image: url("/assets/img/circuitBoard.svg");
  background-color: #1494fb;
  padding: 2.5rem 0;
}
.site-title {
  float: none;
  letter-spacing: inherit;
  font-weight: bold;
  font-size: 2.25rem;
  color: #ffffff;
}
.site-title:hover {
  color: #ffffff;
}

.site-nav {
  float: left;
}

.search {
  float: right;
  line-height: 54px;
  width: 35%;
}
.search input {
  width: 100%;
  padding: 0.45rem;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 0.25rem;
  letter-spacing: .034em;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}
.search ul {
  margin: -0.5rem 0 0 0;
  z-index: 999;
  position: absolute;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 3px rgba(0,37,55,.06);
  box-sizing: border-box;
  background: white;
  padding: 0.5rem;
  line-height: 1.3;
  display: none;
}
.search li {
  line-height: 1.3;
  list-style: none;
  margin-bottom: .5rem;
  font-size: .9rem;
}

.categories {
  margin-bottom: 30px;
}
.categories a {
  margin-bottom: 10px;
}
.category_name {
  display: inline-block;
	padding: 0 8px;
	font-size: 14px;
	border-radius: 2px;
	background-color: #fafafa;
  border: 1px solid #fafafa;
  box-sizing: border-box;
  color: #828282;
}
.category_name:hover {
  box-shadow: none;
  border: 1px solid currentColor;
}

.categories, .post-list li {
  padding: 30px 20px;
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,37,55,.06);
}
.post-content {
  margin-bottom: 5rem;
}
.post-title {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 2.5rem;
  line-height: 1.3;
  letter-spacing: inherit;
}
.post-list .post-title {
  font-size: 1.8rem;
}
.post .post-title {
  margin-top: 30px;
}
.post-link {
  color: #4e4e4e;
  font-size: inherit;
  font-weight: bold;
  display: inline;
}
.post-link:hover {
  color:#686868;
}
.post-excerpt {
  margin: 10px 0;
}
.post-categories {
  display: inline-block;
}
.post-meta {
  float: right;
}

.pagination * {
  margin-right: 1rem;
  border: 1px solid;
  padding: 0.05rem 0.6rem;
  border-radius: 0.2rem;
}
.pagination a {
  box-shadow: none;
}

.contact {
  float: none;
}
.social {
  padding-left: 15px;
  display: block;
}
.social-media-list li {
  display: inline;
}
.social-media-list a {
  box-shadow: none;
}
.social-media-list a:hover .svg-icon {
    fill: #2a7ae2;
}
.social-media-list span {
    display: none;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  padding: 0 1em;
  font-size: 0.95rem;
  letter-spacing: .2px;
  font-style: normal;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #6a737d;
  margin-bottom: 16px;
}
