body {
    font-family: "Times New Roman";
}

a {
    max-width: 100%;
    word-wrap: anywhere;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4DA167;
}

a:hover {
    color: #4E6E5D;
}

section {
    display: block;
    margin: 2rem 0;
}

section:first-child {
    margin: 1em 0;
}

dd {
    margin-bottom: 0;
}

.heading {
    width: 80%;
    display: inline-flex;
}

.photo {
    float: right;
    background-color: inherit;
    width: 150px;
    padding-left: 1rem;
    margin-top: -10px;
}

.photo img {
    width: 100%;
}

.header {
    font-weight: bold;
    border-bottom: 2px solid;
}

.header, .name, .exp-one-liner, .sub-title {
    -webkit-transform: scaleY(0.9);
    -moz-transform: scaleY(0.9);
    -ms-transform: scaleY(0.9);
    -o-transform: scaleY(0.9);
    transform: scaleY(0.9);
}

.title {
    font-weight: bold;
    margin-bottom: 0;
}

.title a {
    font-weight: normal;
    font-size: 80%;
}

h5 {
    display: inline-block;
    margin: 0;
}

.sub-title em {
    float: right;
}

.sub-title span {
    font-weight: bold;
}

.name {
    font-weight: bold;
    padding: 0;
}

.contact-detail {
    float: right;
    margin: 0;
    list-style: none;
    font-weight: bold;
}

.uni-name {
    font-style: italic;
}

.uni-loc {
    float: right;
}

.exp-one-liner .company-name {
    font-weight: 500;
}

.exp-one-liner .company-name::before {
    content: " – ";
}

.exp-one-liner .period {
    float: right;
}

@media screen and (max-width: 1200px) {
    .photo {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 992px) {
    section {
        margin: 2rem 0;
    }
    ul {
        padding: 0 1.25rem;
    }
    li {
        margin: 0.5rem 0;
    }
    dd {
        margin-bottom: .5rem;
    }
    .col-md-5, .col-md-7 {
        -ms-flex: none;
        flex: unset;
        max-width: 100%;
    }
    .heading {
        width: 70%;
        margin: 0 auto;
    }
    .heading * {
        display: block;
    }
    .photo {
        max-width: 130px;
        display: inline-block;
        margin-top: 0;
    }
    .name {
        margin-bottom: 2rem;
    }
    .contact-detail {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
    .bachelor {
        margin-bottom: 1rem;
    }
    .bachelor time, .uni-loc {
        float: none;
        display: block;
    }
    .key-coursework span {
        display: block;
        margin-top: 0.5rem;
    }
    .title span {
        display: block;
    }
    .sub-title {
        margin-bottom: 1rem;
    }
    .sub-title time {
        float: none;
        display: block;
    }
    .key-coursework {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 576px) {
    .heading {
        width: 100%;
    }
    .photo {
        margin: 0 auto;
        display: block;
        float: none;
        padding: 0;
    }
}